*.aux
*.log
*.dvi
*.pdf
*.ps
*.glo
*.idx
*.toc
*~
*.synctex.gz
\#*\#
auto
forest.sty
*.tmp
*.out
_region_*
old-tests
temp
*.profiler.*.dat
test*
explore*
*.ind
*.ilg
*.for
*.auxlock
*.for.dir
*.aux.copy
*.bbl
*.blg
forest.tex
CHECKSUM
VERSION
README
versions
forest-externalize.tex
*.success
*.foridx
*.checksum
